* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: azure;
  border: 2px solid green;
}
#h1 {
  padding: 10px;
  margin: 60px;
  width: 250px;
  height: 100px;
  color: #b957a4;
}
#p {
  padding: 10px;
  margin: 60px;
  width: 400px;
  height: 60px;
  color: #707575;
}

.column {
  padding: 10px;
  margin: 20px;
  width: 600px;
  height: 400px;
  background: #4d06d0;
  border-radius: 10px;
}
.column:nth-child(1) {
  position: relative;
  top: 10px;
}
.column:nth-child(2) {
  position: relative;
  top: 30px;
}
.column:nth-child(3) {
  position: relative;
  top: 50px;
}

.column img {
  width: 80px;
  height: 80px;
  border-radius: 100px;
}
.column h1 {
  color: azure;
}
.column h2 {
  color: #20c05d;
}
.column p {
  color: rgb(17, 208, 208);
}
